{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <header class="masthead" id="dokiz">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center ">
                <img src="{{ asset('image/Blanc.png') }}" title="source: imgur.com" class="img-fluid" alt=""
                     style="width:60%;">
                <h1 style="font-size: 32px; line-height: 4rem">Récupération du mot de passe</h1>
                 <br>
                {{ form_start(emailForm) }}
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend" style="width: 20%; text-align: center" >
                                        <span class="input-group-text" id="basic-addon3" style="width: 100%;">{{ form_label(emailForm.email, 'Email *') }}</span>
                                    </div>
                                    {{ form_widget(emailForm.email, {'attr': {'class': 'form-control', 'style': 'height: auto'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-6">
                              <a class="btn btn-success" style="float: left;" href="{{ path('index') }}">Retour</a>
                        </div>                        
                        <div class="col-sm-6">
                            <button class="btn btn-secondary" style="float: right;">{{ button_label|default('Envoyer') }}</button>
                        </div>
                {{ form_end(emailForm) }}
            </div>
        </div>
    </header>

{% endblock %}
