
{{ form_start(form) }}
  
<div class="adminContainerWhite container">    
    <div class="row">
        <div class="col-md-6 ">
            <div class="form-group">
                {{ form_label(form.immatriculation, 'Immatriculation *', {'label_attr': {'class': 'label_control'}}) }}
                {{ form_widget(form.immatriculation, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-md-6">
             <div class="form-group">
                 {{ form_label(form.mark, 'Marque *', {'label_attr': {'class': 'label_control'}}) }}
                 {{ form_widget(form.mark, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 ">
            <div class="form-group">
                {{ form_label(form.place_number, 'Nombre de places *', {'label_attr': {'class': 'label_control'}}) }}
                {{ form_widget(form.place_number, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-md-6">
             <div class="form-group">
                {{ form_label(form.society, 'Société propriétaire de la voiture *', {'label_attr': {'class': 'label_control'}}) }}
                {% if is_granted('ROLE_SUPERADMIN') == false %}
                    {{ form_widget(form.society, {'attr': {'class': 'form-control','disabled':'disabled'}}) }}
                {% else %}
                    {{ form_widget(form.society, {'attr': {'class': 'form-control'}}) }}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 ">
            <div class="form-group">
                {{ form_label(form.fuel, 'Carburant *', {'label_attr': {'class': 'label_control'}}) }}
                {{ form_widget(form.fuel, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="form-group">
                {{ form_label(form.name, 'Nom *', {'label_attr': {'class': 'label_control'}}) }}
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="row">        
        <div class="col-md-6">
             <div class="form-group">
               {{ form_label(form.date_commissioning, 'Date de mise en service *', {'label_attr': {'class': 'label_control'}}) }}
               {{ form_widget(form.date_commissioning, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-md-6">
             <div class="form-group">
               {{ form_label(form.parked, 'Stationnement *', {'label_attr': {'class': 'label_control'}}) }}
               {{ form_widget(form.parked, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
        <div class="row">        
        <div class="col-md-6">
             <div class="form-group">
               {{ form_label(form.assurance, 'Assurance *', {'label_attr': {'class': 'label_control'}}) }}
               {{ form_widget(form.assurance, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-md-6">
             <div class="form-group">
               {{ form_label(form.technical_control, 'Date du dernier contrôle technique *', {'label_attr': {'class': 'label_control'}}) }}
               {{ form_widget(form.technical_control, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="row">        
        <div class="col-md-6">
             <div class="form-group">
               {{ form_label(form.description, 'Etat des lieux de la voiture*', {'label_attr': {'class': 'label_control'}}) }}
               {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 ">
            <div id="upload_file">
                {{ form_label(form.car_url, 'Sélectionner une image (Taille maximale : 2 Mo)') }}
                 {% if car.getCarUrl() != '' %}
                        <img class="miniature_car" src="{{asset('uploads/car_url/')}}{{ car.getCarUrl() }}" alt="miniature" style="max-width: 70%;  ">
                {% endif %}
                <div class="input_upload">                   
                    {{ form_widget(form.car_url) }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
             <div class="form-group">
            <small class="text-greyLight">L'identifiant de la clé devra être inscrit sur les étiquettes fournies<br></small>
               {{ form_label(form.keys, 'Clés de la voiture *', {'label_attr': {'class': 'label_control'}}) }}
               {{ form_widget(form.keys) }}             
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
         <small class="obligatory-field">* Champ obligatoire</small>
        </div>
        <div class="col-md-3">
            <button class="btn btn-secondary pull-right">{{ button_label|default('Enregistrer') }}</button>
        </div>
    </div>
<div> 

{{ form_end(form) }}
