{% extends 'admin/base.html.twig' %}

{% block title %}Modifier la voiture{% endblock %}

{% block body %}
    {{ include("admin/header.html.twig") }}
    {{ include("navigation/navAdmin.html.twig") }}
    

        <h1>Modifier</h1>

        {{ include('admin/car/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('admin_car_index') }}">Retourt</a>

        {{ include('admin/car/_delete_form.html.twig') }}
    {{ include("admin/footer.html.twig") }}
{% endblock %}
