{% extends 'admin/base.html.twig' %}

{% block title %}Liste des voitures{% endblock %}

{% block body %}
    {{ include("admin/header.html.twig") }}
    {{ include("navigation/navAdmin.html.twig") }}
    
        <div class="row">
            <div class="col-sm-6">
                <h1>Liste des voitures</h1>
            </div>
            <div class="col-sm-6">
                <a class="btn btn-primary float-right" href="{{ path('admin_car_new') }}">Ajouter une nouvelle voiture</a>
            </div>
        </div>
        

        <table id="tableAdmin" class="display">
            <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>Immatriculation</th>
                    <th>Nombre de place</th>
                    <th>Nom</th>
                    <th>Carburant</th>
                    <th>Mise en service</th>
                    <th>Niveau carburant</th>
                    <th>Marque</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            {% for car in cars %}
                <tr>
                    <td>{{ car.id }}</td>
                    <td>{{ car.immatriculation }}</td>
                    <td>{{ car.placeNumber }}</td>
                    <td>{{ car.name }}</td>
                    <td>{{ car.fuel }}</td>
                    <td>{{ car.dateCommissioning ? car.dateCommissioning|date('d-m-Y') : '' }}</td>
                    <td>{{ car.levelFuel }}</td>
                    <td>{{ car.mark }}</td>
                    <td>
                        <a href="{{ path('admin_car_show', {'id': car.id}) }}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        <a href="{{ path('admin_car_edit', {'id': car.id}) }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

       
    {{ include("admin/footer.html.twig") }}
{% endblock %}
