{% extends 'admin/base.html.twig' %}

{% block title %}Nouvelle voiture{% endblock %}

{% block body %}
    {{ include("admin/header.html.twig") }}
    {{ include("navigation/navAdmin.html.twig") }}
    
        <h1>Ajouter une nouvelle voiture</h1>

        {{ include('admin/car/_form.html.twig') }}

        <a class="btn btn-danger text-white" href="{{ path('admin_car_index') }}">Retour</a>
    {{ include("admin/footer.html.twig") }}
{% endblock %}
