{% extends 'admin/base.html.twig' %}

{% block title %}New Car{% endblock %}

{% block body %}
    {{ include("admin/header.html.twig") }}
    {{ include("navigation/navAdmin.html.twig") }}
    
        <h1>Create new Car</h1>

        {{ include('admin/car/_form.html.twig') }}

        <a href="{{ path('admin_car_index') }}">Retour</a>
    {{ include("admin/footer.html.twig") }}
{% endblock %}
