{% extends 'admin/base.html.twig' %}

{% block title %}Car{% endblock %}

{% block body %}
    {{ include("admin/header.html.twig") }}
    {{ include("navigation/navAdmin.html.twig") }}

    <div class="row">
        <div class="col-sm-6">
            <h1>Information {{ car.name }}</h1>
        </div>
        <div class="col-sm-6">
            <a class="btn btn-primary pull-right" href="{{ path('admin_car_index') }}" style="margin-left: 10%;">Retour</a>
            {{ include('admin/car/_delete_form.html.twig') }}
            <a class="btn btn-secondary pull-right text-white" href="{{ path('admin_car_edit', {'id': car.id}) }}" style="margin-right: 10%;">Modifier</a>
        </div>
    </div>
    <div class="container list-card-car bg-white">
        <div class="row">
            <div class="col-sm-5 text-center">
                <div class="miniature_car">
                    <img src="{{asset('uploads/car_url/')}}{{ car.carUrl }}" alt="miniature" style="max-width: 70%;">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card-car">
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-7">
                                <p>Identifant de la voiture : </p>
                            </div>
                            <div class="col-sm-5 text-left">
                                <p>{{ car.id }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-7">
                                <p>Immatriculation : </p>
                            </div>
                            <div class="col-sm-5 text-left">
                                <p>{{ car.immatriculation }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-7">
                                <p>Nombre de place : </p>
                            </div>
                            <div class="col-sm-5 text-left">
                                <p>{{ car.placeNumber }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-7">
                                <p>Nom de la voiture : </p>
                            </div>
                            <div class="col-sm-5 text-left">
                                <p>{{ car.name }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-7">
                                <p>Carburant : </p>
                            </div>
                            <div class="col-sm-5 text-left">
                                <p>{{ car.fuel }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-7">
                                <p>Date de mise en service : </p>
                            </div>
                            <div class="col-sm-5 text-left">
                                <p>{{ car.dateCommissioning ? car.dateCommissioning|date('d/m/Y') : '' }}</p>
                            </div>
                        </div>
                    </div>                    
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-7">
                                <p>Marque de la voiture : </p>
                            </div>
                            <div class="col-sm-5 text-left">
                                <p>{{ car.mark }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ include("admin/footer.html.twig") }}
{% endblock %}
