<div class="adminContainerWhite container">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                {% for box in form.roles %}
                    <div class="checkbox"> {{ form_widget(box) }} {{ form_label(box) }}  </div>
                {% endfor %}
            </div>
        </div>
    </div>   
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.society, 'Société', {'label_attr': {'class': 'label_control'}}) }}
                {{ form_widget(form.society, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.email, 'Identifiant', {'label_attr': {'class': 'label_control'}}) }}
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>            
        </div>
        <div class="col-md-6">
             <div class="form-group">
                {{ form_label(form.password, 'Mot de passe', {'label_attr': {'class': 'label_control'}}) }}
                {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
             </div> 
        </div> 
    </div>
<div> 
<div class="text-center">  
    <button class="btn btn-secondary ">{{ button_label|default('Save') }}</button>
</div>
