{% extends 'admin/base.html.twig' %}

{% block title %}Modifier l'utilisateur {{ user.firstName }} {{ user.lastName }}{% endblock %}

{% block body %}
{{ include("admin/header.html.twig") }}
{{ include("navigation/navAdmin.html.twig") }}

    <div class="row">
        <div class="col-sm-6">
            <h1>Modifier l'utilisateur {{ user.firstName }} {{ user.lastName }}</h1>
        </div>
        <div class="col-sm-6">
            <a class="btn btn-primary pull-right" href="{{ path('admin_user_index') }}" style="margin-left: 10%;">Retour</a>
            {#{{ include('admin/user/_delete_form.html.twig') }}#}
        </div>
    </div>

    {{ include('admin/user/_formEdit.html.twig', {'button_label': 'Enregistrer'}) }}
    {{ include("admin/footer.html.twig") }}
{% endblock %}
