{% extends 'admin/base.html.twig' %}

{% block title %}Nouveau utilisateur{% endblock %}

{% block body %}
    {# read and display all flash messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }} flash">
                <i class="fa fa-times close-flash" aria-hidden="true"></i>
                <div class="alert-{{ label }} alert" role="alert">
                {{ message }}
                </div>
            </div>
        {% endfor %}
    {% endfor %}
    {{ include("admin/header.html.twig") }} 
    {{ include("navigation/navAdmin.html.twig") }}

    <div class="row">
        <div class="col-sm-6">
            <h1>Ajouter un utilisateur</h1>
        </div>
        <div class="col-sm-6">
            <a class="btn btn-primary pull-right" href="{{ path('admin_user_index') }}">Retour</a>
        </div>
    </div>

    {{ include('admin/user/_form.html.twig' ,{'button_label': 'Enregistrer'}) }}
    {{ include("admin/footer.html.twig") }} 
{% endblock %}
