{% extends 'admin/base.html.twig' %}

{% block title %}Nouveau utilisateur{% endblock %}

{% block body %}
    {{ include("admin/header.html.twig") }} 
    {{ include("navigation/navAdmin.html.twig") }}
    
        <h1>Ajouter un utilisateur</h1>

        {{ include('admin/user/_form.html.twig') }}

        <a class="btn btn-danger text-white" href="{{ path('admin_user_index') }}">Retour</a>
    {{ include("admin/footer.html.twig") }} 
{% endblock %}