{% extends 'admin/base.html.twig' %}

{% block title %}Society index{% endblock %}

{% block body %}
    {{ include("admin/header.html.twig") }} 
    {{ include("navigation/navAdmin.html.twig") }}
    
        <div class="row">
            <div class="col-sm-6">
                <h1>Liste des sociétés</h1>
            </div>
            <div class="col-sm-6">
                <a class="btn btn-primary float-right" href="{{ path('admin_society_new') }}">Ajouter une nouvelle société</a>
            </div>
        </div>
        <table id="tableAdmin" class="display">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Siret</th>
                    <th>Raison Social</th>
                    <th>Siege</th>
                    <th>Code postal</th>
                    <th>Email</th>
                    <th>Téléphone</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for society in societies %}
                <tr>
                    <td>{{ society.id }}</td>
                    <td>{{ society.siret }}</td>
                    <td>{{ society.socialReason }}</td>
                    <td>{{ society.headOffice }}</td>
                    <td>{{ society.postalCode }}</td>
                    <td>{{ society.emailInterlocutor }}</td>
                    <td>{{ society.telInterlocutor }}</td>
                    <td>
                        <a href="{{ path('admin_society_show', {'id': society.id}) }}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        <a href="{{ path('admin_society_edit', {'id': society.id}) }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">Aucune société trouvée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {{ include("admin/footer.html.twig") }} 
{% endblock %}
