{% extends 'admin/base.html.twig' %}

{% block title %}New Society{% endblock %}

{% block body %}
    {{ include("navigation/navAdmin.html.twig") }}
    {{ include("admin/header.html.twig") }} 
        <h1>Create new Society</h1>

        {{ include('admin/society/_form.html.twig') }}

        <a href="{{ path('admin_society_index') }}">back to list</a>
    {{ include("admin/footer.html.twig") }} 
{% endblock %}
