{% extends 'admin/base.html.twig' %}

{% block title %}Société {{ society.socialReason }}{% endblock %}

{% block body %}
    {{ include("admin/header.html.twig") }}
    {{ include("navigation/navAdmin.html.twig") }}

    <div class="row">
        <div class="col-sm-6">
            <h1>Information {{ society.socialReason }}</h1>
        </div>
        <div class="col-sm-6">
            <a class="btn btn-primary pull-right" href="{{ path('admin_society_index') }}" style="margin-left: 10%;">Retour</a>
            {{ include('admin/society/_delete_form.html.twig') }}
            <a class="btn btn-secondary pull-right text-white" href="{{ path('admin_society_edit', {'id': society.id}) }}" style="margin-right: 10%;">Modifier</a>
        </div>
    </div>
        <div class="container list-card-society bg-white">                       
            <div class="row">
                <div class="col-sm-6 offset-sm-3">
                    <div class="card-society">
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-7">
                                    <p>Identifant de la société : </p>
                                </div>
                                <div class="col-sm-5 text-left">
                                    <p>{{ society.id }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-7">
                                    <p>Siret : </p>
                                </div>
                                <div class="col-sm-5 text-left">
                                    <p>{{ society.siret }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-7">
                                    <p>Raison Sociale : </p>
                                </div>
                                <div class="col-sm-5 text-left">
                                    <p>{{ society.socialReason }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-7">
                                    <p>Adresse du Siege : </p>
                                </div>
                                <div class="col-sm-5 text-left">
                                    <p>{{ society.headOffice }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-7">
                                    <p>Code postal : </p>
                                </div>
                                <div class="col-sm-5 text-left">
                                    <p>{{ society.postalCode }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-7">
                                    <p>Email interlocuteur : </p>
                                </div>
                                <div class="col-sm-5 text-left">
                                    <p>{{ society.emailInterlocutor }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-7">
                                    <p>Téléphone interlocuteur : </p>
                                </div>
                                <div class="col-sm-5 text-left">
                                    <p>{{ society.telInterlocutor }}</p>
                                </div>
                            </div>
                        </div>                       
                    </div>
                </div>
            </div>  
        </div>
    {{ include("admin/footer.html.twig") }} 
{% endblock %}
