{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <header id="dokiz">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center ">
                <img src="{{ asset('image/Blanc.png') }}" title="source: imgur.com" class="img-fluid" alt=""
                     style="width:60%;">
                <form method="post" style="margin-top: 5%;">
                    {% if error %}
                        <div class="alert alert-danger">E-mail ou mot de passe incorrect.</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}
                    <hr>
                    <div class="input-group input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                        </div>

                        <input type="email" id="inputEmail" name="email" value="{{ last_username }}" class="form-control" placeholder="Email" required="" autofocus="">
                    </div>
                    <br>
                    <div class="input-group input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-unlock-alt"></i></span>
                        </div>
                        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Mot de passe" required="">
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <hr>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Se connecter</button>
                    <br>
                    <a href="{{ path('forgotPassword') }}">Mot de passe oublié ?</a>
                    <br>
                    <a href="{{ path('register') }}">S'inscrire</a>
                </form>
            </div>
        </div>
    </header>
{% endblock %}
