{% extends 'base.html.twig' %}

{% block title %}Réservations{% endblock %}

{% block body %}
    {{ include("navigation/navAdmin.html.twig") }}
    {{ include("admin/hearder.html.twig") }}

        {% if reservations %}
        {% for reservation in reservations %}
            <div class="row">
                <div class="cardSection">
                    <div class="row">
                        <div class="col-md-2 text-center mx-auto">
                            <img src="{{ asset('image/students.png') }}" alt="Voiture" width="fill" class="img-fluid" style="padding: 5px; width: 100%">
                        </div>
                        <div class="col-md-3 hrVerticalFine my-auto">
                            <div class="row mx-auto">
                                {{ reservation.carRide.adressPointDeparture  }}   <!-- A remplacer par la ville (adresse) de départ de la réservation -->
                            </div>
                            <hr>
                            <div class="row mx-auto" >
                                Chartres de Bretagne         <!-- A remplacer par la ville (adresse) d'arrivée de la réservation -->
                            </div>
                        </div>
                        <div class="col-md-3 hrVerticalFine my-auto">
                            <div class="row mx-auto">
                                {{ reservation.statePremiseDepature ? reservation.statePremiseDepature|date('d/m/Y H:i') : '' }}
                            </div>
                            <hr>
                            <div class="row mx-auto">
                                {{ reservation.statePremiseArrival ? reservation.statePremiseArrival|date('d/m/Y H:i') : '' }}
                            </div>
                        </div>
                        <div class="col-md-4 hrVerticalFine my-auto">
                            <div class="row mx-auto">
                                Réservé par :
                            </div>
                            <hr>
                            <div class="row mx-auto">
                                Places Restantes :
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        {% endfor %}
        {% else %}
            <h3>Il n'y a pas de réservations en cours.</h3>
        {% endif %}
    {{ include("admin/footer.html.twig") }}
{% endblock %}
