{% extends 'admin/base.html.twig' %}

{% block title %}Réservations{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('#tableAdmin').DataTable({
                "createdRow": function( row, data) {
                    if (data[3] >= 4) {
                        $(row).addClass('greenClass');
                    } else if (data[3] == 3){
                        $(row).addClass('blueClass');
                    } else if (data[3] == 2){
                        $(row).addClass('orangeClass');
                    } else if (data[3] <= 1){
                        $(row).addClass('redClass');
                    }
                },
                "language": {
                    "sEmptyTable":     "Aucune réservation disponible dans le tableau",
                    "sInfo":           "Affichage des réservations _START_ à _END_ sur _TOTAL_ réservations",
                    "sInfoEmpty":      "",
                    "sInfoFiltered":   "(filtré à partir de _MAX_ réservations au total)",
                    "sInfoPostFix":    "",
                    "sInfoThousands":  ",",
                    "sLengthMenu":     "Afficher _MENU_ réservations",
                    "sLoadingRecords": "Chargement...",
                    "sProcessing":     "Traitement...",
                    "sSearch":         "Rechercher :",
                    "sZeroRecords":    "Aucune réservation correspondante trouvée",
                    "oPaginate": {
                        "sFirst":    "Premier",
                        "sLast":     "Dernier",
                        "sNext":     "Suivant",
                        "sPrevious": "Précédent"
                    },
                    "oAria": {
                        "sSortAscending":  ": activer pour trier la colonne par ordre croissant",
                        "sSortDescending": ": activer pour trier la colonne par ordre décroissant"
                    },
                    "select": {
                        "rows": {
                            "_": "%d lignes sélectionnées",
                            "0": "Aucune ligne sélectionnée",
                            "1": "1 ligne sélectionnée"
                        }
                    }
                }
            });
        });
    </script>
{% endblock %}


{% block body %}
    {{ include("admin/header.html.twig") }}
    {{ include("navigation/navAdmin.html.twig") }}

    
    <div class="row">
        <div class="col-sm-6">
            <h1>Liste des réservations</h1>
        </div>
    </div>
    <table id="tableAdmin" class="display tableAdminRide">
        <thead>
        <tr>
            <th>N° de réservation</th>
            <th>Date de réservation</th>
            <th>Trajets</th> 
            <th>Places disponibles</th>
            <th>Conducteur</th>
        </tr>
        </thead>
        <tbody>
        {% if reservations %}
            {% for reservation in reservations %}
            {% set countPassengers = 0 %}
                    <tr>
                        <td>{{ reservation.id }}</td>
                        <td style="color: white; font-weight: bold">{{ reservation.dateReservation ? reservation.dateReservation|date('d/m/Y') : '' }}</td>
                        <td style="width: 65%; " >
                            <table class="list-ride-admin">
                                <tbody>
                                {% for carRide in reservation.carRides %}
                                    {% set countPassengers = carRide.passengers|length %}
                                <tr>
                                   <td>
                                   <div class="item-ride-admin">
                                        {{ carRide.startAddress }}
                                        {{ carRide.startPostalCode }} {{ carRide.startCity|upper  }}
                                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                        {{ carRide.endAddress }}
                                        {{ carRide.endPostalCode }} {{ carRide.endCity|upper  }}
                                    </div>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </td>
                        <td style="color: white; font-weight: bold">{{ reservation.car.placeNumber - 1 - countPassengers }}</td>
                        <td><a target="_blank" href="{{ path('user_show', {id: app.user.id, idDriver:reservation.user.id}) }}" title="conducteur">{{ reservation.user.lastName}} {{ reservation.user.firstName}}</a></td>
                    </tr>            
            {% endfor %}
            {% else %}
                <tr>
                    <td colspan="10">Il n'y a pas de réservations.</td>
                </tr>
        {% endif %}
        </tbody>
    </table>
    {{ include("admin/footer.html.twig") }}
{% endblock %}
