{% extends 'admin/base.html.twig' %}

{% block title %}Réservations{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('#tabReservations').DataTable({
                "language": {
                    "sEmptyTable":     "Aucune donnée disponible dans le tableau",
                    "sInfo":           "Affichage des éléments _START_ à _END_ sur _TOTAL_ éléments",
                    "sInfoEmpty":      "",
                    "sInfoFiltered":   "(filtré à partir de _MAX_ éléments au total)",
                    "sInfoPostFix":    "",
                    "sInfoThousands":  ",",
                    "sLengthMenu":     "Afficher _MENU_ éléments",
                    "sLoadingRecords": "Chargement...",
                    "sProcessing":     "Traitement...",
                    "sSearch":         "Rechercher :",
                    "sZeroRecords":    "Aucun élément correspondant trouvé",
                    "oPaginate": {
                        "sFirst":    "Premier",
                        "sLast":     "Dernier",
                        "sNext":     "Suivant",
                        "sPrevious": "Précédent"
                    },
                    "oAria": {
                        "sSortAscending":  ": activer pour trier la colonne par ordre croissant",
                        "sSortDescending": ": activer pour trier la colonne par ordre décroissant"
                    },
                    "select": {
                        "rows": {
                            "_": "%d lignes sélectionnées",
                            "0": "Aucune ligne sélectionnée",
                            "1": "1 ligne sélectionnée"
                        }
                    }
                }
            });
        });
    </script>
{% endblock %}

{% block body %}
    {{ include("admin/header.html.twig") }}
    {{ include("navigation/navAdmin.html.twig") }}
    

<table id="tableAdmin" class="display">
    <thead>
    <tr>
        <th>Date de réservation</th>
        <th>Départ</th>
        <th>Arrivée</th>
        <th>Confirmé</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% if reservations %}
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.dateReservation ? reservation.dateReservation|date('d/m/Y H:i:s') : '' }}</td>
                <td>{{ reservation.carRide.adressPointDeparture }} {{ reservation.carRide.postalCodePointDeparture }} {{ reservation.carRide.cityPointDeparture }}</td>
                <td>{{ reservation.carRide.adressPointArrival }} {{ reservation.carRide.postalCodePointArrival }} {{ reservation.carRide.cityPointArrival }}</td>
                <td>{{ reservation.isConfirmed }}</td>
                <td>
                    <a href="{{ path('admin_car_ride_show', {'id': car_ride.id}) }}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% endfor %}
        {% else %}
            <tr>
                <td colspan="10">Il n'y a pas de réservations.</td>
            </tr>
    {% endif %}
    </tbody>
</table>
    {{ include("admin/footer.html.twig") }}
{% endblock %}
