{{ form_start(form) }}
    <div class="adminContainerWhite container"> 
        <div class="row">
            <div class="col-sm-6">
                {{ form_label(form.wording, 'Nom du métier', {'label_attr': {'class': 'label_control'}}) }}
                {{ form_widget(form.wording, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="text-center">  
            <button class="btn btn-secondary ">{{ button_label|default('Save') }}</button>
        </div>
    </div>
    
{{ form_end(form) }}