{% extends 'admin/base.html.twig' %}

{% block title %}Edit Job{% endblock %}

{% block body %}
    {{ include("navigation/navAdmin.html.twig") }}
    {{ include("admin/header.html.twig") }}    
        <h1>Edit Job</h1>

        {{ include('admin/job/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('admin_job_index') }}">back to list</a>

    {{ include('admin/job/_delete_form.html.twig') }}
    {{ include("admin/footer.html.twig") }} 
{% endblock %}
