{% extends 'admin/base.html.twig' %}

{% block title %}Job index{% endblock %}

{% block javascripts %}
    <script>
        $('#tableAdmin').DataTable({
            "language": {
                "sEmptyTable":     "Aucun métier disponible dans le tableau",
                "sInfo":           "Affichage des métiers _START_ à _END_ sur _TOTAL_ métiers",
                "sInfoEmpty":      "",
                "sInfoFiltered":   "(filtré à partir de _MAX_ métiers au total)",
                "sInfoPostFix":    "",
                "sInfoThousands":  ",",
                "sLengthMenu":     "Afficher _MENU_ métiers",
                "sLoadingRecords": "Chargement...",
                "sProcessing":     "Traitement...",
                "sSearch":         "Rechercher :",
                "sZeroRecords":    "Aucun métier correspondant trouvé",
                "oPaginate": {
                    "sFirst":    "Premier",
                    "sLast":     "Dernier",
                    "sNext":     "Suivant",
                    "sPrevious": "Précédent"
                },
                "oAria": {
                    "sSortAscending":  ": activer pour trier la colonne par ordre croissant",
                    "sSortDescending": ": activer pour trier la colonne par ordre décroissant"
                },
                "select": {
                    "rows": {
                        "_": "%d lignes sélectionnées",
                        "0": "Aucune ligne sélectionnée",
                        "1": "1 ligne sélectionnée"
                    }
                }
            }
        });
    </script>
{% endblock %}

{% block body %}
    {{ include("admin/header.html.twig") }}
    {{ include("navigation/navAdmin.html.twig") }}
        
        <div class="row">
            <div class="col-sm-6">
                <h1>Liste des metiers</h1>
            </div>
            <div class="col-sm-6">
                <a class="btn btn-primary float-right" href="{{ path('admin_job_new') }}">Ajouter un nouveau métier</a>
            </div>
        </div>

        <table id="tableAdmin" class="display">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Intitulé</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for job in jobs %}
                <tr>
                    <td>{{ job.id }}</td>
                    <td>{{ job.wording }}</td>
                    <td>                        
                        <a href="{{ path('admin_job_edit', {'id': job.id}) }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    
    {{ include("admin/footer.html.twig") }} 
{% endblock %}
