{% extends 'admin/base.html.twig' %}

{% block title %}New Job{% endblock %}

{% block body %}
    {{ include("navigation/navAdmin.html.twig") }}
    {{ include("admin/header.html.twig") }}    
        <h1>Create new Job</h1>

        {{ include('admin/job/_form.html.twig') }}

        <a href="{{ path('admin_job_index') }}">back to list</a>
    {{ include("admin/footer.html.twig") }} 
{% endblock %}
