<script>
    $(document).ready(function() {
        // you may need to change this code if you are not using Bootstrap Datepicker
        $('.datetimepicker1').datepicker({
            format: 'yyyy-mm-dd'
        });
    });
</script>

{{ form_start(form) }}
        {{ form_start(form1) }}

<div class="titleReservation">
    Départ
</div>
<hr>
<div class="row">
    <div class="col-md-6">
        {{ form_label(form.state_premise_depature) }}
        {{ form_widget(form.state_premise_depature) }}
    </div>
    <div class="col-md-6">
        {{ form_label(form1.city_point_departure) }}
        {{ form_widget(form1.city_point_departure) }}
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-6">
        {{ form_label(form1.adress_point_departure) }}
        {{ form_widget(form1.adress_point_departure) }}
    </div>
    <div class="col-md-6">
        {{ form_label(form1.postal_code_point_departure) }}
        {{ form_widget(form1.postal_code_point_departure) }}
    </div>
</div>
<hr>
<div class="titleReservation">
    Arrivé
</div>
<hr>
<div class="row">
    <div class="col-md-6">
        {{ form_label(form.state_premise_arrival) }}
        {{ form_widget(form.state_premise_arrival) }}
    </div>
    <div class="col-md-6">
        {{ form_label(form1.city_point_arrival) }}
        {{ form_widget(form1.city_point_arrival) }}
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-6">
        {{ form_label(form1.adress_point_arrival) }}
        {{ form_widget(form1.adress_point_arrival) }}
    </div>
    <div class="col-md-6">
        {{ form_label(form1.postal_code_point_arrival) }}
        {{ form_widget(form1.postal_code_point_arrival) }}
    </div>
</div>
<hr>
<div class="titleReservation">
    Autre informations
</div>
<hr>
<div class="row">
    <div class="col-md-6">
        {{ form_label(form1.km_number) }}
        {{ form_widget(form1.km_number) }}
    </div>
    <div class="col-md-6">
        {{ form_label(form1.status) }}
        {{ form_widget(form1.status) }}
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        {{ form_label(form.status_key) }}
        {{ form_widget(form.status_key) }}
    </div>
</div>
<hr>
<div>
    <button class="btn btn-info w-100" >{{ button_label|default('Créer une nouvelle réservation') }}</button>
</div>
    {{ form_end(form1) }}
{{ form_end(form) }}