<script>
    $(document).ready(function() {
        // you may need to change this code if you are not using Bootstrap Datepicker
        $('.datetimepicker1').datepicker({
            format: 'yyyy-mm-dd'
        });


    });

    function upRetour() {
        retour = document.getElementById('RETOUR');
        if (document.getElementById('customSwitches').checked) {
            retour.style.display = 'block';
        } else {
            retour.style.display = 'none';
        }
    }
</script>
{% set dateStart, dateEnd = date(), date() %}
{{ form_start(form, { attr: {novalidate:'novalidate'}}) }}

{% for carRide in form.carRides %}
{% if loop.first %}
    <div class="cardSection2" id="ALLER">
{% else %}
    <div class="cardSection2" id="RETOUR">
{% endif %}
<div class="titleReservation" style="text-align: center; color: #00B4CC !important;">
    {% if loop.first %}
        {% set dateStart = carRide.date_start %}
        ALLER
    {% else %}
        {% set dateEnd = carRide.date_end %}
        RETOUR
    {% endif %}
</div>
<hr>
<div class="row">
    <div class="col-md-6" style="text-align: center; font-size: 18px; border-bottom: 2px solid #00B4CC; border-right: 2px solid #00B4CC">
        Départ
    </div>
    <div class="col-md-6" style="text-align: center; font-size: 18px; border-bottom: 2px solid #00B4CC">
        Arrivée
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-6 ">
        {{ form_label(carRide.date_start) }}
        {{ form_widget(carRide.date_start) }}
    </div>
    <div class="col-md-6">
        {{ form_label(carRide.date_end) }}
        {{ form_widget(carRide.date_end) }}
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-6" >
        {{ form_label(carRide.start_postal_code) }}
        {{ form_widget(carRide.start_postal_code) }}
    </div>
    <div class="col-md-6">
        {{ form_label(carRide.end_postal_code) }}
        {{ form_widget(carRide.end_postal_code) }}
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-6">
        {{ form_label(carRide.start_city) }}
        {{ form_widget(carRide.start_city) }}
    </div>
    <div class="col-md-6">
        {{ form_label(carRide.end_city) }}
        {{ form_widget(carRide.end_city) }}
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-6">
        {{ form_label(carRide.start_address) }}
        {{ form_widget(carRide.start_address, {attr: {required:'true'}}) }}
    </div>
    <div class="col-md-6">
        {{ form_label(carRide.end_address) }}
        {{ form_widget(carRide.end_address) }}
    </div>
</div>
<br>
<div class="row">
    {% if loop.first %}
        <div class="col-md-12 custom-control custom-switch">
            <input type="checkbox" class="custom-control-input position-initial" id="customSwitches" name="customSwitches" value="true" onclick="upRetour()" checked>
            <label class="custom-control-label" for="customSwitches">Réaliser un aller - Retour</label>
        </div>
    {% endif %}
</div>
</div>
<hr>
{% endfor %}

<div class="cardSection2">
    <div class="titleReservation" style="text-align: center; color: #00B4CC !important;">
        Choisir le véhicule
    </div>
    <div class="row">
        <div class="col-md-12 ">
            <label for="cars">Liste des véhicules disponibles</label>
            <select id="cars" name="cars" class="form-control">
                {% for car in cars %}
                    <option id="car{{ car.id }}" value="car{{ car.id }}" data-id="{{ car.id|json_encode() }}" data-mark={{ car.mark|json_encode()|raw }} data-name={{ car.name|json_encode()|raw }} data-date-start={{ car.getStartReservationDate()|date('Y-m-d')|json_encode()|raw }} data-date-end={{ car.getEndReservationDate()|date('Y-m-d')|json_encode()|raw }}>{{ car.id ~' - '~ car.mark ~' '~ car.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
<hr>
<div>
    <button class="btn btn-info w-100" >{{ button_label|default('Créer une nouvelle réservation') }}</button>
</div>

{{ form_end(form) }}

<script>
    $(document).ready(function() {
        $('#reservation_carRides_0_date_start').change(function () {
            changeListCars();
        });

        $('#reservation_carRides_1_date_end').change(function () {
            changeListCars();
        });

        function changeListCars() {
            var cars = [];
            var carsTempo = document.getElementById('cars').options;
            for(var i = 0; i<carsTempo.length; i++){
                var car = {
                    id : 0,
                    mark: "",
                    name: "",
                    dateStart: "",
                    dateEnd: ""
                };
                car.id = $(carsTempo[i]).data("id");
                car.mark = $(carsTempo[i]).data("dataMark");
                car.name = $(carsTempo[i]).data("name");
                car.dateStart = $(carsTempo[i]).data("dateStart");
                car.dateEnd = $(carsTempo[i]).data("dateEnd");
                cars.push(car);
            }

            var dateStartAller = $('#reservation_carRides_0_date_start').val();
            if (document.getElementById('customSwitches').checked) {
                var dateEndRetour = $('#reservation_carRides_1_date_end').val();
            } else {
                var dateEndRetour = $('#reservation_carRides_0_date_end').val();
            }


            if (dateStartAller != "" && dateEndRetour != "") {
                cars.forEach(function(car){
                    var dateStartTempo = new Date(car.dateStart);
                    var dateEndTempo = new Date(car.dateEnd);
                    var dateStartAllerTempo = new Date(dateStartAller);
                    var dateEndRetourTempo = new Date(dateEndRetour);
                    var idCar = "car" + car.id;
                    var carHtml = document.getElementById(idCar);
                    if((dateStartAllerTempo<dateStartTempo && dateEndRetourTempo<dateStartTempo) || (dateStartAllerTempo>dateEndTempo && dateEndRetourTempo>dateEndTempo)){
                        carHtml.hidden = false;
                        $("#cars").val(idCar);
                    }else{
                        carHtml.hidden = true;
                    }
                });
            }
        }
    });
</script>

