{% extends 'base.html.twig' %}

{% block title %}Réservations{% endblock %}

{% block body %}
    <!-- Header -->
    <header class="masthead backWhite" id="dokiz">
        <div class="container h-100 align-items-center boxShadow p-3 mb-5 bg-white rounded jumbotron">
            {{ include("navigation/navReservation.html.twig") }}
            <div class="row mx-auto" style="margin-top: 40px" >
                <h1 class="titleReservation">Réservations en cours</h1>
            </div>
            <hr>
            {% if reservations %}
            {% for reservation in reservations %}
            {% set departCarRide, arriveeCarRide, nbPlacesRestantes, reservePart = "", "", "", "" %}
                {% for carRide in reservation.carRides %}
                    {% if loop.first and carRide.id %}
                        {% set departCarRide = carRide.getCityPointDeparture() %}
                        {% set arriveeCarRide = carRide.getCityPointArrival() %}
                    {% endif %}
                    {% set nbPlacesRestantes = 4 - carRide.passengers|length %}
                {% endfor %}
                {% for user in reservation.Users %}
                    {% if loop.first %}
                        {% set reservePart = user.firstName ~" "~ user.lastName %}
                    {% endif %}
                {% endfor %}
                <div class="row">
                        <div  class="cardSection">
                            <div onclick="location.href='{{ path('reservation_show', {'id': reservation.id}) }}';" style="cursor:pointer;" class="row">
                                <div class="col-md-2 text-center mx-auto">
                                    <img src="{{ asset('image/students.png') }}" alt="Voiture" width="fill" class="img-fluid" style="padding: 5px; width: 100%">
                                </div>

                                <div class="col-md-3 hrVerticalFine my-auto">
                                    <div class="row mx-auto">
                                        {{ departCarRide }}
                                    </div>
                                    <hr>
                                    <div class="row mx-auto" >
                                        {{ arriveeCarRide }}
                                    </div>
                                </div>
                                <div class="col-md-3 hrVerticalFine my-auto">
                                    <div class="row mx-auto">
                                        {{ reservation.statePremiseDepature ? reservation.statePremiseDepature|date('d/m/Y H:i') : '' }}
                                    </div>
                                    <hr>
                                    <div class="row mx-auto">
                                        {{ reservation.statePremiseArrival ? reservation.statePremiseArrival|date('d/m/Y H:i') : '' }}
                                    </div>
                                </div>
                                <div class="col-md-4 hrVerticalFine my-auto">
                                    <div class="row mx-auto">
                                        Réservé par : {{ reservePart }}
                                    </div>
                                    <hr>
                                    <div class="row mx-auto">
                                        Places Restantes : {{ nbPlacesRestantes }}
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <hr>
            {% endfor %}
            {% else %}
                <h3>Il n'y a pas de réservations en cours.</h3>
            {% endif %}
        </div>
    </header>

{% endblock %}

