{% extends 'base.html.twig' %}

{% block title %}Réservations{% endblock %}

{% block body %}
    <!-- Header -->
    <header class="masthead backWhite" id="dokiz" xmlns="http://www.w3.org/1999/html">
        <div class="container hAuto align-items-center boxShadow p-3 mb-5 bg-white rounded jumbotron">
            {{ include("navigation/navReservation.html.twig") }}
            <div class="row mx-auto" style="margin-top: 40px" >
                <h1 class="titleReservation">Mes reservations crée</h1>
            </div>
            <hr>
            {% if reservations %}
            {% for reservation in reservations %}

            {% set nbPlacesRestantes, reservePart = "", "" %}
            {% set user = reservation.user %}
            {% set car = reservation.car %}
                <div class="row">
                    <div  class="cardSection" style="padding: 15px">
                        <div class="row">
                            <div class="col-md-6 hrVerticalFine my-auto">
                                <h5>Reservation de : {{ user.firstName ~' '~ user.lastName }} </h5>
                            </div>
                            <div class="col-md-6 hrVerticalFine my-auto">
                                {% if car %}
                                    <h5>Conduit par : {{ car.mark ~' '~ car.name }} </h5>
                                {% endif %}
                            </div>
                        </div>
                    <br/>
                        {% for carRide in reservation.carRides %}
                            {% if loop.first %} <h5>ALLER</h5> {% else %} <h5>RETOUR</h5> {% endif %}
                        <div  class="cardSection" style="padding: 10px">
                            <div onclick="location.href='{{ path('car_ride_show', {'id': carRide.id}) }}';" style="cursor:pointer;" >
                                <div class="row">
                                    <div class="col-md-4 hrVerticalFine my-auto">
                                            <div class="row mx-auto">
                                                {{ carRide.getStartCity() }} -  {{ carRide.getEndCity() }}
                                            </div>
                                    </div>

                                    <div class="col-md-5 hrVerticalFine my-auto">
                                            <div class="row mx-auto">
                                                {{ carRide.getDateStart()|date('d/m/Y H:i') }} -  {{ carRide.getDateEnd()|date('d/m/Y H:i') }}
                                            </div>
                                    </div>
                                    <div class="col-md-1 hrVerticalFine my-auto">
                                            <div class="row mx-auto">
                                                {{  4 - carRide.passengers|length }}
                                            </div>
                                    </div>
                                    <div class="col-md-2 hrVerticalFine my-auto">
                                            <div class="row mx-auto">
                                                {%  if app.user not in carRide.passengers and carRide.passengers|length < 4 %}
                                                    <a>S'inscrire</a>
                                                {% endif %}
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            {% if loop.first %} <hr> {% endif %}
                        {% endfor %}
                    </div>
                </div>
             <hr>
            {% endfor %}
            {% else %}
                <h3>Il n'y a pas de réservations en cours.</h3>
            {% endif %}
            <div class="row mx-auto" style="margin-top: 40px" >
                <h1 class="titleReservation">Mes reservations en cours</h1>
            </div>
            <hr>
            {% if carRides %}
                {% for carRide in carRides %}
                    {% set nbPlacesRestantes, reservePart = "", "" %}
                    <div  class="cardSection parentCity" style="padding: 10px; margin: 15px">
                        <div onclick="location.href='{{ path('car_ride_show', {'id': carRide.id}) }}';" style="cursor:pointer;" >
                            <div class="row">
                                <div class="col-md-4 hrVerticalFine my-auto">
                                    <div class="row mx-auto searchCity" >
                                        {{ carRide.getStartCity() }} -  {{ carRide.getEndCity() }}
                                    </div>
                                </div>

                                <div class="col-md-5 hrVerticalFine my-auto">
                                    <div class="row mx-auto searchDate">
                                        {{ carRide.getDateStart()|date('d/m/Y H:i') }} -  {{ carRide.getDateEnd()|date('d/m/Y H:i') }}
                                    </div>
                                </div>
                                <div class="col-md-1 hrVerticalFine my-auto">
                                    <div class="row mx-auto">
                                        {{  4 - carRide.passengers|length }}
                                    </div>
                                </div>
                                <div class="col-md-2 hrVerticalFine my-auto">
                                    <div class="row mx-auto">
                                        {%  if app.user not in carRide.passengers and carRide.passengers|length < 4 %}
                                            <a>S'inscrire</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h3>Il n'y a pas de réservations en cours.</h3>
            {% endif %}
            </div>
    </header>

{% endblock %}

