{% extends 'base.html.twig' %}

{% block title %}Réservations{% endblock %}

{% block body %}
    <!-- Header -->
    <header class="masthead backWhite" id="dokiz">
        <div class="container h-100 align-items-center boxShadow p-3 mb-5 bg-white rounded jumbotron">
            {{ include("navigation/navReservation.html.twig") }}
            <div class="row mx-auto" style="margin-top: 40px" >
                <h1 class="titleReservation">Réservations en cours</h1>
            </div>
            <hr>
            {% if reservations %}
            {% for reservation in reservations %}

                {% set i = 0 %}
                {% set villeDepartAller = '' %}
                {% set villeArriveAller = '' %}
                {% set villeDepartRetour = '' %}
                {% set villeArriveRetour = '' %}
                {% set reservePar = '' %}
                {% set dateDepartAller = null  %}
                {% set dateArriveAller = null %}
                {% set dateDepartRetour = null %}
                {% set dateArriveRetour = null %}
                {% for carRide in reservation.carRides %}
                    {% if i == 0 %}
                        {% set villeDepartAller = carRide.getCityPointDeparture() %}
                        {% set villeArriveAller = carRide.getCityPointArrival() %}
                        {% set dateDepartAller = carRide.getDateStart() %}
                        {% set dateArriveAller = carRide.getDateEnd() %}

                        {% for passenger in carRide.passengers %}
                            {% set user = passenger.getUser() %}
                            {% set reservePar = user.getFirstName() ~ ' ' ~ user.getLastName() %}
                        {% endfor %}
                    {% endif %}
                    {% if i == 1 %}
                        {% set villeDepartRetour = carRide.getCityPointDeparture() %}
                        {% set villeArriveRetour = carRide.getCityPointArrival() %}
                        {% set dateDepartRetour = carRide.getDateStart() %}
                        {% set dateArriveRetour = carRide.getDateEnd() %}
                    {% endif %}
                    {% set i = i + 1 %}
                {% endfor %}

                <div class="row">
                        <div class="cardSection">
                            <div class="row hrHorizontalFine" >
                                <div class="col-md-4 my-auto text-center">
                                    <h2>Aller</h2>
                                </div>
                                <div class="col-md-4 hrVerticalFine my-auto text-center">
                                    <h2>Retour</h2>
                                </div>
                                <div class="col-md-4 hrVerticalFine my-auto">
                                </div>
                            </div>
                            <div class="row" style="padding-left: 10px; padding-right: 10px">
                                <div class="col-md-2 my-auto">
                                    <div class="row mx-auto">
                                        {{ villeDepartAller }}
                                    </div>
                                    <hr>
                                    <div class="row mx-auto" >
                                        {{ villeArriveAller }}
                                    </div>
                                </div>
                                <div class="col-md-2 hrVerticalFine my-auto">
                                    <div class="row mx-auto">
                                        {{ dateDepartAller|date("m/d/Y h:m") }}
                                    </div>
                                    <hr>
                                    <div class="row mx-auto">
                                        {{ dateArriveAller|date("m/d/Y h:m") }}
                                    </div>
                                </div>
                                <div class="col-md-2 hrVerticalFine my-auto">
                                    <div class="row mx-auto">
                                        {{ villeDepartRetour }}
                                    </div>
                                    <hr>
                                    <div class="row mx-auto" >
                                        {{ villeArriveRetour }}
                                    </div>
                                </div>
                                <div class="col-md-2 hrVerticalFine my-auto">
                                    <div class="row mx-auto">
                                        {{ dateDepartRetour|date("m/d/Y h:m") }}
                                    </div>
                                    <hr>
                                    <div class="row mx-auto">
                                        {{ dateArriveRetour|date("m/d/Y h:m") }}
                                    </div>
                                </div>
                                <div class="col-md-4 hrVerticalFine my-auto">
                                    <div class="row mx-auto">
                                        Réservé par : {{ reservePar }}
                                    </div>
                                    <hr>
                                    <div class="row mx-auto">
                                        Places Restantes :
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <hr>
            {% endfor %}
            {% else %}
                <h3>Il n'y a pas de réservations en cours.</h3>
            {% endif %}
        </div>
    </header>
{% endblock %}
