{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{%  block javascripts %}
    <script>
        window.onload = function() {
            {% set list = [] %}
            {% set list = list|merge([{ id: reservation.getId() }]) %}
            $.post({
                url: '{{ path('reservation_delete', reservation.getId()) }}',
                success: function (data) {
                    var mess="Trajet bien supprimé";
                    alert(mess);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert('Error : ' + errorThrown);
                },
            });
        }
    </script>
{% endblock %}

{% block body %}
    <!-- Header -->
    <header class="masthead backWhite" id="dokiz">
        <div class="container align-items-center boxShadow p-3 mb-5 bg-white rounded jumbotron">
            {{ include("navigation/navReservation.html.twig") }}
            {% set user = reservation.user %}
            <div class="row mx-auto" style="margin-top: 40px" >
                <h1 class="titleReservation ">Réservation de {{ user.firstName~' '~user.lastName }}</h1>
            </div>
            <hr>
            <div class="row">
                <div class="col-12" style="height: 15em; display: none;" id="mapid"></div>
            </div>
            <div class="row">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Date de réservation</th>
                        <td>{{ reservation.dateReservation ? reservation.dateReservation|date('d/m/Y H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Confirmé</th>
                        <td>{{ reservation.isConfirmed ? 'Oui' : 'Non' }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </header>
{% endblock %}
