{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
    <!-- Header -->
    <header class="masthead backWhite" id="dokiz">
        <div class="container align-items-center boxShadow p-3 mb-5 bg-white rounded jumbotron">
            {{ include("navigation/navReservation.html.twig") }}
            <div class="row mx-auto" style="margin-top: 40px" >
                <h1 class="titleReservation ">réservation n° {{ reservation.id }}</h1>
            </div>
            <hr>
            <div class="row">
                <div class="col-12" style="height: 15em; display: none;" id="mapid"></div>
            </div>
            <div class="row">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ reservation.id }}</td>
                    </tr>
                    <tr>
                        <th>Date_reservation</th>
                        <td>{{ reservation.dateReservation ? reservation.dateReservation|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Status_key</th>
                        <td>{{ reservation.statusKey }}</td>
                    </tr>
                    <tr>
                        <th>State_premise_depature</th>
                        <td>{{ reservation.statePremiseDepature ? reservation.statePremiseDepature|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>State_premise_arrival</th>
                        <td>{{ reservation.statePremiseArrival ? reservation.statePremiseArrival|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Is_confirmed</th>
                        <td>{{ reservation.isConfirmed ? 'Yes' : 'No' }}</td>
                    </tr>
                    <tr>
                        <th>Users</th>
                        {%  for user in reservation.users %}
                            <td> {{  user.firstName }}</td>
                        {% else %}
                            <td >no records found</td>
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
        </div>
        <a href="{{ path('reservation_index') }}">back to list</a>
        <a href="{{ path('reservation_edit', {'id': reservation.id}) }}">edit</a>
        <a href="{{ path('reservation_index') }}">Retour à la liste des réservations</a>
    </header>
{% endblock %}
