{% extends 'admin/base.html.twig' %}

{% block title %}Status index{% endblock %}

{% block body %}
    {{ include("admin/header.html.twig") }} 
    {{ include("navigation/navAdmin.html.twig") }}
       
        <h1>Status index</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Wording</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for status in statuses %}
                <tr>
                    <td>{{ status.id }}</td>
                    <td>{{ status.wording }}</td>
                    <td>
                        <a href="{{ path('admin_status_show', {'id': status.id}) }}">show</a>
                        <a href="{{ path('admin_status_edit', {'id': status.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('admin_status_new') }}">Create new</a>
    {{ include("admin/footer.html.twig") }} 
{% endblock %}
