<!-- Header -->
<header id="adminHeader">
    <div class="row">
        <div class="col-sm-2 col-md-1">
            <a href="{{path('index') }}"><img src="{{ asset('image/Blanc.png') }}" title="source: imgur.com" class="img-fluid logo" alt=""></a>
        </div>
        <div class="col-sm-10 col-md-11">
            <div class="mx-auto text-right sub_nav">
            <!--  <span class="sousNav">Bienvenue {{ app.user.firstname }}</span> --> 
                    <li onclick="location.href='{{ path('app_logout') }}';" style="cursor: pointer;"><i class="fa fa-sign-out" aria-hidden="true"></i></li>
                    <li onclick="location.href='{{ path('index') }}';" style="cursor: pointer;"><i class="fa fa-home" aria-hidden="true"></i></li>
            </div>  
        </div> 
    </div> 
</header>
