<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#top" id="topSection">DOKIZ</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav" id="navbar-site">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger btnNav active" href="#about" id="section2">Qui sommes-nous
                        ?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger btnNav" href="#project" id="section3">Projet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger btnNav" href="#contact" id="section4">Contact</a>
                </li>
                {% if app.user %}
                <li class="nav-item" >
                    <a class="nav-link js-scroll-trigger btnNav active" href="{{ path('car_list') }}" id="section5">Liste des trajets</a>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if app.user %}
                    <li class="nav-item dropdown">
                        {% set fullname = app.user.lastname ~ ' ' ~ app.user.firstname %}
                        <a class="nav-link" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ fullname }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink" style="margin-top: -30px">
                            <li><a class="dropdown-item" href="{{ path('user', {id: app.user.id}) }}">Profil</a></li>
                           {% if is_granted('ROLE_ADMIN') %}
                                    <li><a class="dropdown-item" href="{{ path('admin_dashbord') }}">Dashboard admin</a></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="{{ path('reservation_user', {id: app.user.id}) }}">Mes réservations</a></li>
                            <hr>
                            <li><a class="dropdown-item" href="{{ path('app_logout') }}">Se déconnecter</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ path('app_login') }}">Se connecter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ path('register') }}">Créer un compte</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header class="masthead" id="dokiz">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <img src="{{ asset('image/Blanc.png') }}" title="source: imgur.com" class="img-fluid" alt=""
                 style="width:60%;">
        </div>
    </div>
</header>
