<nav class="navbar navbar-expand-lg navbar-light fixed-top scrolled" id="reservationsNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">DOKIZ</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav" id="navbar-site">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger btnNav active" href="{{ path('reservation_user', {id: app.user.id}) }}">Mes réservations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger btnNav active" href="{{ path('reservation_new') }}">Nouvelle réservation</a>
                </li>
                <li class="nav-item" >
                    <a style="cursor: pointer;" class="nav-link js-scroll-trigger btnNav" onclick="window.open('http://dokiz.fr/image/DOKIZ_documentation_utilisateur.pdf', '_blank');" id="section6">Aide</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if app.user %}
                    <li class="nav-item dropdown">
                        {% set fullname = app.user.lastname ~ ' ' ~ app.user.firstname %}
                        <a class="nav-link" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ fullname }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink" style="margin-top: -30px">
                            <li><a class="dropdown-item" href="{{ path('user', {id: app.user.id}) }}">Profil</a></li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a class="dropdown-item" href="{{ path('admin_dashbord') }}">Dashboard admin</a></li>
                            {% endif %}
                            <hr>
                            <li><a class="dropdown-item" href="{{ path('app_logout') }}">Se déconnecter</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ path('app_login') }}">Se connecter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ path('register') }}">Créer un compte</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>


