{% extends 'base.html.twig' %}

{% block title %}Trajets{% endblock %}

{% block javascripts %}
<script>
function search(value) {
    var input, filter, city, i, txtValue;
    input = document.getElementById("myInput" + value);
    city = document.getElementsByClassName("search" + value);
    displayParent = document.getElementsByClassName("parentCity");
    for (i = 0; i < city.length; i++) {
        if(value === 'City') {
            filter = input.value.toUpperCase();
            txtValue = city[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                displayParent[i].style.display = "";
            } else {
                displayParent[i].style.display = "none";
            }
        } else {
            filter = convertDate(input.value);
            txtValue = city[i].innerText;
            if (txtValue.indexOf(filter) > -1) {
                displayParent[i].style.display = "";
            } else {
                displayParent[i].style.display = "none";
            }
        }
    }
}
function convertDate(inputFormat) {
    function pad(s) { return (s < 10) ? '0' + s : s; }
    var d = new Date(inputFormat);
    return [pad(d.getDate()), pad(d.getMonth()+1), d.getFullYear()].join('/')
}
</script>
{% endblock %}

{% block body %}
    <!-- Header -->
    <script></script>
    <header class="masthead backWhite" id="dokiz" xmlns="http://www.w3.org/1999/html">
        <div class="container hAuto align-items-center boxShadow p-3 mb-5 bg-white rounded jumbotron">
            {{ include("navigation/navCarRide.html.twig") }}
            <div class="row mx-auto" style="margin-top: 40px" >
                <h1 class="titleReservation">Liste des Trajets</h1>
            </div>
            <div class="row">
                <div class="col-md-6 hrVerticalFine my-auto">
                    <div class="row mx-auto">
                        <h5 style="margin-right: 5px">Ville de départ</h5>
                        <input type="text" id="myInputCity" onkeyup="search('City')" placeholder="Chercher une ville...">
                    </div>
                </div>
                <div class="col-md-6 hrVerticalFine my-auto">
                    <div class="row mx-auto">
                        <h5 style="margin-right: 5px">Date de départ</h5>
                        <input type="date" id="myInputDate" onchange="search('Date')">
                    </div>
                </div>
            </div>
            <hr>
            {% if carRides %}
                {% for carRide in carRides %}
                    {% set nbPlacesRestantes, reservePart = "", "" %}
                        <div  class="cardSection parentCity" style="padding: 10px; margin: 15px">
                            <div onclick="location.href='{{ path('car_ride_show', {'id': carRide.id}) }}';" style="cursor:pointer;" >
                                <div class="row">
                                    <div class="col-md-4 hrVerticalFine my-auto">
                                        <div class="row mx-auto searchCity" >
                                            {{ carRide.getStartCity() }} -  {{ carRide.getEndCity() }}
                                        </div>
                                    </div>

                                    <div class="col-md-5 hrVerticalFine my-auto">
                                        <div class="row mx-auto searchDate">
                                            {{ carRide.getDateStart()|date('d/m/Y H:i') }} -  {{ carRide.getDateEnd()|date('d/m/Y H:i') }}
                                        </div>
                                    </div>
                                    <div class="col-md-1 hrVerticalFine my-auto">
                                        <div class="row mx-auto">
                                            {{  4 - carRide.passengers|length }}
                                        </div>
                                    </div>
                                    <div class="col-md-2 hrVerticalFine my-auto">
                                        <div class="row mx-auto">
                                            {%  if app.user not in carRide.passengers and carRide.passengers|length < 4 %}
                                                <a>Détails</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                {% endfor %}
            {% else %}
                <h3>Il n'y a pas de trajets en cours.</h3>
            {% endif %}

    </header>

{% endblock %}

