{% extends 'base.html.twig' %}

{% block title %}Trajets{% endblock %}

{% block javascripts %}
<script>
function search(value) {
    var input, filter, city, i, txtValue;
    input = document.getElementById("myInput" + value);
    searchValue = document.getElementsByClassName("search" + value);
    displayParent = document.getElementsByClassName("parentCity");
    for (i = 0; i < searchValue.length; i++) {
        if(value === 'City') {
            filter = input.value.toUpperCase();
            txtValue = searchValue[i].innerText.split(' - ');
            if (txtValue[0].toUpperCase().indexOf(filter) > -1) {
                displayParent[i].style.display = "";
            } else {
                displayParent[i].style.display = "none";
            }
        } else {
            filter = convertDate(input.value);
            txtValue = searchValue[i].innerText;
            if (input.value == '' || txtValue.indexOf(filter) > -1) {
                displayParent[i].style.display = "";
            } else {
                displayParent[i].style.display = "none";
            }
        }
    }
}
function convertDate(inputFormat) {
    function pad(s) { return (s < 10) ? '0' + s : s; }
    var d = new Date(inputFormat);
    return [pad(d.getDate()), pad(d.getMonth()+1), d.getFullYear()].join('/')
}
</script>
{% endblock %}

{% block body %}
    <!-- Header -->
    <script></script>
    <header class="masthead backWhite" id="dokiz" xmlns="http://www.w3.org/1999/html">
        <div class="container hAuto align-items-center boxShadow p-3 mb-5 bg-white rounded jumbotron">
            {{ include("navigation/navCarRide.html.twig") }}
            <div class="row" style="margin-top: 60px;" >
                <div class="col-md-3">
                </div>
                <div class="col-md-6 text-center borderRadiusTitle">
                    <h1 class="titleReservation " style="text-transform: uppercase; color:white !important;">Liste des trajets</h1>
                </div>
                <div class="col-md-3">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6 hrVerticalFine my-auto">
                    <div class="row mx-auto">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Ville de départ</span>
                            </div>
                            <input type="text" class="form-control" id="myInputCity" onkeyup="search('City')" placeholder="Rechercher une ville...">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 hrVerticalFine my-auto">
                    <div class="row mx-auto">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Date de départ</span>
                            </div>
                            <input type="date" class="form-control" id="myInputDate" onchange="search('Date')">
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            {% if carRides %}
                {% for carRide in carRides %}
                    {% set nbPlacesRestantes, reservePart = "", "" %}
                    {% set reservation = carRide.getReservation() %}
                    {% set car = reservation.getCar() %}
                        <div  class="cardSection parentCity" style="padding: 10px; margin: 15px">
                            <div onclick="location.href='{{ path('car_ride_show', {'id': carRide.id}) }}';" style="cursor:pointer;" >
                                <div class="row">
                                    <div class="col-md-4 hrVerticalFine my-auto text-center">
                                        <div class="searchCity" >
                                            {{ carRide.getStartCity() }} -  {{ carRide.getEndCity() }}
                                        </div>
                                    </div>

                                    <div class="col-md-5 hrVerticalFine my-auto text-center">
                                        <div class="searchDate">
                                            {{ carRide.getDateStart()|date('d/m/Y H:i') }} -  {{ carRide.getDateEnd()|date('d/m/Y H:i') }}
                                        </div>
                                    </div>
                                    <div class="col-md-1 hrVerticalFine my-auto  text-center">
                                            {{  car.getPlaceNumber() - carRide.passengers|length - 1 }}
                                    </div>
                                    <div class="col-md-2 hrVerticalFine my-auto  text-center">
                                            {%  if app.user not in carRide.passengers and carRide.passengers|length < 4 %}
                                                <a>Détails</a>
                                            {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                {% endfor %}
            {% else %}
                <h3>Il n'y a pas de trajets en cours.</h3>
            {% endif %}

    </header>

{% endblock %}

