{% extends 'base.html.twig' %}

{% block title %}CarRide{% endblock %}

{% block body %}
    <!-- Header -->
    <header class="masthead backWhite" id="dokiz">
        <div class="container align-items-center boxShadow p-3 mb-5 bg-white rounded jumbotron">
            {{ include("navigation/navReservation.html.twig") }}
            <div class="row mx-auto" style="margin-top: 40px" >
                <h1 class="titleReservation ">Trajet vers  {{ carRide.getEndCity() }}</h1>
            </div>
            <hr>
            <div class="row">
                <div class="col-12" style="height: 15em; display: none;" id="mapid"></div>
            </div>
            <div class="row">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Départ de </th>
                        <td>{{ carRide.getStartAddress() ~', '~ carRide.getStartPostalCode() ~' '~ carRide.getStartCity() }}</td>
                    </tr>
                    <tr>
                        <th>Le </th>
                        <td>{{ carRide.getDateStart()|date('d/m/Y \\à H:i')  }}</td>
                    </tr>
                    <tr><th></th><td></td></tr>
                    <tr>
                        <th>Arrivé à </th>
                        <td>{{ carRide.getEndAddress() ~', '~ carRide.getEndPostalCode() ~' '~ carRide.getEndCity() }}</td>
                    </tr>
                    <tr>
                        <th>Le </th>
                        <td>{{ carRide.getDateEnd()|date('d/m/Y \\à H:i') }}</td>
                    </tr>
                    <tr><th></th><td></td></tr>
                    <tr>
                        <th>Passagers</th>
                        {%  for passenger in carRide.passengers %}
                            {% set userPassenger = passenger.user %}
                            <td>{{ userPassenger.firstName ~ ' ' ~ userPassenger.lastName }}</td><br/>
                        {% else %}
                            <td></td>
                        {% endfor %}
                    </tr>
                    <tr><th></th><td></td></tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-5 text-center">
                    <a class="btn btn-info" href="{{ path('reservation_index') }}">Retour à la liste des réservations</a>
                </div>
                <div class="col-md-4 text-center ">
                    {% set reservation = carRide.reservation %}
                    {% if app.user == reservation.user %}
                        <a class="btn btn-info" href="{{ path('car_ride_edit', {'id': carRide.id}) }}">Editer la réservation</a>
                    {% endif %}
                </div>
                <div class="col-md-3 text-center">
                    {%  if app.user not in carRide.passengers and carRide.passengers|length < 4 %}
                        <a class="btn btn-success">S'inscrire</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>
{% endblock %}