{% extends 'base.html.twig' %}

{% block title %}Informations Trajet{% endblock %}



{% block body %}
    <!-- Header -->
    {%  set reservation = carRide.reservation %}
    {% set car = reservation.car %}
    <header class="masthead backWhite" id="dokiz">
        <div class="container align-items-center boxShadow p-3 mb-5 bg-white rounded jumbotron">
            {{ include("navigation/navReservation.html.twig") }}
            <div class="row" style="margin-top: 60px;">
                <div class="col-md-3">
                </div>
                <div class="col-md-6 text-center borderRadiusTitle">
                    <h1 class="titleReservation " style="text-transform: uppercase; color:white !important;">Trajet vers  {{ carRide.getEndCity() }}</h1>
                </div>
                <div class="col-md-3">
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12" style="height: 15em; display: none;" id="mapid"></div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p> {% if carRide.getDateStart()|date('d/m/Y') != carRide.getDateEnd()|date('d/m/Y') %}
                            Du
                        {% else %}
                            Le
                        {% endif %}
                        {{ carRide.getDateStart()|date('d/m/Y')  }}
                        {% if carRide.getDateStart()|date('d/m/Y') != carRide.getDateEnd()|date('d/m/Y') %}
                            au {{ carRide.getDateEnd()|date('d/m/Y') }}
                        {% endif %}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 my-auto" style="max-width: 48%; padding-left: 0px; padding-right: 0px">
                    <div class="row trajet-raw">
                        <div class="col-md-4 text-center  my-auto   ">
                            <p>{{ carRide.getDateStart()|date('H\\hi')  }}</p>
                        </div>
                        <div class="col-md-8 hrVerticalFine text-center">
                            <p>{{ carRide.getStartAddress() }}<br>{{ carRide.getStartPostalCode() ~' '~ carRide.getStartCity() }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 text-center " style="max-width: 4%; padding-left: 0px; padding-right: 0px">
                    <svg width="100%" height="100%" viewBox="0 0 16 16" class="bi bi-caret-right-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                    </svg>
                </div>
                    <div class="col-md-6 my-auto" style="max-width: 48%; padding-left: 0px; padding-right: 0px">
                        <div class="row trajet-raw ">
                            <div class="col-md-4 text-center my-auto">
                                <p>{{ carRide.getDateEnd()|date('H\\hi') }}</p>
                            </div>
                            <div class="col-md-8 hrVerticalFine text-center">
                                <p>{{ carRide.getEndAddress() }}<br>{{ carRide.getEndPostalCode() ~' '~ carRide.getEndCity() }}</p>
                            </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    {% if null != car  %}
                        <img width="100%" src="{{ asset('uploads/car_url/'~car.getCarUrl()) }}" alt="image_voiture" style="border: 5px solid #343838;">
                        <div class="col-md-12 text-center borderRadiusTitle" style="padding-bottom: 2px">
                            <h3 style="color: white">{{  ' ' ~ car.mark ~ ' ' ~ car.name }}</h3>
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-4 text-center" style="padding-right: 0">
                            <h3 class="carRideTitleBlock"> Conducteur </h3>
                        </div>
                        <div class="col-md-8 text-center" style="padding-left: 0">
                            {% set driver = reservation.user %}
                            <p class="carRideTextBlock">{{ driver.firstName ~ ' ' ~ driver.lastName }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-center" style="padding-right: 0">
                            <h3 class="carRideTitleBlock"> Passagers </h3>
                        </div>
                        <div class="col-md-8 text-center" style="padding-left: 0">
                            {%  if carRide.passengers|length > 0 %}
                            {%  if carRide.passengers|length > 1 %}
                                <div class="carRideTextBlock" style="border-bottom-left-radius: 40px">
                                    {%  for passenger in carRide.passengers %}
                                        {% set userPassenger = passenger.user %}
                                        <p >{{ userPassenger.firstName ~ ' ' ~ userPassenger.lastName }}</p>
                                    {% endfor %}
                                </div>
                            {% else  %}
                                <div class="carRideTextBlock">
                                    {%  for passenger in carRide.passengers %}
                                        {% set userPassenger = passenger.user %}
                                        <p style="margin-bottom: 0">{{ userPassenger.firstName ~ ' ' ~ userPassenger.lastName }}</p>
                                    {% endfor %}
                                </div>

                            {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
               <hr>
            <div class="row">
                {% set colSize = false %}
                {% set passengers = carRide.passengers %}
                {% set user = app.user %}


                <div class="col-md-6">
                    <a class="btn btn-info" href="{{ path('car_list') }}">Retour à la liste des réservations</a>
                </div>
                {% if user == reservation.user %}
                <div class="col-md-6 ">
                        <a class="btn btn-danger" style="float: right" href="{{ path('car_ride_delete', {'id': carRide.id}) }}">Supprimer la réservation</a>

                </div>
                {% endif %}
                {% set isPresent = false %}
                {% for passenger in carRide.passengers %}
                    {% if user == passenger.user %}
                        {% set isPresent = true %}
                    {% endif %}
                {% endfor %}
                    {% if isPresent == false and user != reservation.user and passengers|length < (car.getPlaceNumber()-1) %}
                <div class="col-md-6 text-center ">
                        <button type="button" class="btn btn-success btn-lg" style="float:right" id="inscriptionButton">S'inscrire</button>
                </div>
                    {% elseif isPresent and user != reservation.user %}
                            <div class="col-md-6 text-center ">
                                <button type="button" class="btn btn-danger btn-lg" style="float:right" id="desinscriptionButton">Se désinscrire</button>
                            </div>
                    {% endif %}
            </div>
        </div>
    </header>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('#inscriptionButton').click(function () {
                var data = {id:{{ carRide.id }}, idUser: "{{ app.user.id}}"};
                $.post({
                    url: '{{path('car_ride_inscription')}}',
                    data: data,
                    success: function (data) {
                        var mess="Vous vous êtes bien inscrit au trajet vers {{ carRide.getEndCity() }}";
                        alert(mess);
                        window.location.reload();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert('Error : ' + errorThrown);
                    },
                });
            });
            $('#desinscriptionButton').click(function () {
                var data = {id:{{ carRide.id }}, idUser: "{{ app.user.id}}"};
                $.post({
                    url: '{{path('car_ride_desinscription')}}',
                    data: data,
                    success: function (data) {
                        var mess="Vous vous êtes bien désinscrit du trajet vers {{ carRide.getEndCity() }}";
                        alert(mess);
                        window.location.reload();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert('Error : ' + errorThrown);
                    },
                });
            });

        });
    </script>
{% endblock %}

