{% extends 'base.html.twig' %}

{% block title %}CarRide{% endblock %}

{% block javascripts %}
    <script></script>
{% endblock %}

{% block body %}
    <!-- Header -->
    <header class="masthead backWhite" id="dokiz">
        <div class="container align-items-center boxShadow p-3 mb-5 bg-white rounded jumbotron">
            {{ include("navigation/navReservation.html.twig") }}
            <div class="row mx-auto" style="margin-top: 40px" >
                <h1 class="titleReservation ">Trajet vers  {{ carRide.getEndCity() }}</h1>
            </div>
            <hr>
            <div class="row">
                <div class="col-12" style="height: 15em; display: none;" id="mapid"></div>
            </div>
            <div class="row">
                <div class="col-md-12 ">
                    <div class="row trajet-raw">
                        <div class="col-md-4 text-center">
                            <p>{{ carRide.getDateStart()|date('d/m/Y \\à H:i')  }}</p>
                        </div>
                        <div class="col-md-8 hrVerticalFine text-center">
                            <p>{{ carRide.getStartAddress() ~', '~ carRide.getStartPostalCode() ~' '~ carRide.getStartCity() }}</p>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-10 text-center">
                            <div class="arrow">
                                <a class="fa fa-arrow-down fa-2x" href="#"></a>
                            </div>
                        </div>
                    </div>
                    <div class="row trajet-raw">
                        <div class="col-md-4 text-center">
                            <p>{{ carRide.getDateEnd()|date('d/m/Y \\à H:i') }}</p>
                        </div>
                        <div class="col-md-8 hrVerticalFine text-center">
                            <p>{{ carRide.getEndAddress() ~', '~ carRide.getEndPostalCode() ~' '~ carRide.getEndCity() }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    {%  set reservation = carRide.reservation %}
                    {% set car = reservation.car %}
                    {% if null != car  %}
                        <img width="100%" src="{{ asset('uploads/car_url/'~car.getCarUrl()) }}" alt="image_voiture">
                        <br>
                        <br>
                        <h3>{{  ' ' ~ car.mark ~ ' ' ~ car.name }}</h3>
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-4">
                            <h3> Conducteur </h3>
                        </div>
                        <div class="col-md-8">
                            {%  set reservation = carRide.reservation %}
                            {% set driver = reservation.user %}
                            <p>{{ driver.firstName ~ ' ' ~ driver.lastName }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h3> Passagers </h3>
                        </div>
                        <div class="col-md-8">
                            {%  for passenger in carRide.passengers %}
                                {% set userPassenger = passenger.user %}
                                <p>{{ userPassenger.firstName ~ ' ' ~ userPassenger.lastName }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
               <hr>
            <div class="row">
                {% set colSize = false %}
                {% set reservation = carRide.reservation %}
                {% set passengers = carRide.passengers %}
                {% set user = app.user %}

                {% if user not in carRide.passengers and app.user != reservation.user and passengers|length < 4 %}
                    {% set colSize = true %}
                {% endif %}
                <div class="{%   if colSize %}col-md-5{% else %}col-md-6{% endif %} text-center">
                    <a class="btn btn-info" href="{{ path('car_list') }}">Retour à la liste des réservations</a>
                </div>
                <div class="{% if colSize %}col-md-3{% else %}col-md-6{% endif %} text-center ">
                    {% if user == reservation.user %}
                        <a class="btn btn-info" href="{{ path('car_ride_edit', {'id': carRide.id}) }}">Editer la réservation</a>
                    {% endif %}
                </div>
                {% if colSize %}
                    {% if user not in passengers and user != reservation.user and passengers|length < 4 %}
                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">S'inscrire</button>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </header>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
