{% extends 'base.html.twig' %}

{% block title %}CarRide{% endblock %}

{% block body %}
<!-- Header -->
<header class="masthead" id="dokiz">
    <div class="container d-flex h-100 align-items-center">
        {{ include("navigation/navCarRide.html.twig") }}
    <h1>Trajets</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ car_ride.id }}</td>
            </tr>
            <tr>
                <th>Départ</th>
                <td>{{ car_ride.cityPointDeparture }}</td>
            </tr>
            <tr>
                <th>Arrivée</th>
                <td>{{ car_ride.cityPointArrival }}</td>
            </tr>
            <tr>
                <th>Date de départ</th>
                <td>{{ car_ride.dateStart ? car_ride.dateStart|date('d/m/Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date d'arrivée</th>
                <td>{{ car_ride.dateEnd ? car_ride.dateEnd|date('d/m/Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Statut du trajet</th>
                <td>{{ car_ride.status }}</td>
            </tr>
            <tr>
                <th>Point de départ</th>
                <td>{{ car_ride.adressPointDeparture }}</td>
            </tr>
            <tr>
                <th>Point d'arrivée</th>
                <td>{{ car_ride.adressPointArrival }}</td>
            </tr>
            <tr>
                <th>Nombre de kilomètres</th>
                <td>{{ car_ride.kmNumber }}</td>
            </tr>
        </tbody>
    </table>
        <a href="{{ path('car_ride_index') }}">Retourner à la liste</a>
        {{ include('car_ride/_delete_form.html.twig') }}
    </div>
</header>
{% endblock %}
