{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <header class="masthead" id="dokiz">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <img src="{{ asset('image/Blanc.png') }}" title="source: imgur.com" class="img-fluid" alt="" style="width:60%;">
                <form>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            {{ form_label(form.lastName) }}
                        </div>
                        <div class="col-sm-9">
                            {{ form_widget(form.lastName) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            {{ form_label(form.firstName) }}
                        </div>
                        <div class="col-sm-9">
                            {{ form_widget(form.firstName) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            {{ form_label(form.email) }}
                        </div>
                        <div class="col-sm-9">
                            {{ form_widget(form.email) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            {{ form_label(form.password.first) }}
                        </div>
                        <div class="col-sm-9">
                            {{ form_widget(form.password.first) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            {{ form_label(form.password.second) }}
                        </div>
                        <div class="col-sm-9">
                            {{ form_widget(form.password.second) }}
                        </div>
                    </div>
                    <div class="input-group input-group-lg">
                        {{ form_row(form.save) }}
                    </div>
                </form>
            </div>
        </div>
    </header>
{% endblock %}
