{{ form_start(form) }}
    <div class="adminContainerWhite container"> 
        <div class="row">
            <div class="col-sm-6">
                {{ form_label(form.name, 'Nom de la clé', {'label_attr': {'class': 'label_control'}}) }}
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-sm-6">
                {{ form_label(form.is_taken, 'Permission', {'label_attr': {'class': 'label_control'}}) }}
                {{ form_widget(form.is_taken, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9"></div>
            <div class="col-sm-3">
                <button class="btn btn-secondary pull-right">{{ button_label|default('Enregistrer') }}</button>
            </div>
        </div>
    </div>
    
{{ form_end(form) }}
