{% extends 'admin/base.html.twig' %}

{% block title %}Liste des clés{% endblock %}

{% block body %}
    {{ include("admin/header.html.twig") }}
    {{ include("navigation/navAdmin.html.twig") }}
     
        <div class="row">
            <div class="col-sm-6">
                <h1>Liste des clés</h1>
            </div>
            <div class="col-sm-6">
                <a class="btn btn-primary float-right" href="{{ path('admin_key_car_new') }}">Ajouter une nouvelle clé</a>
            </div>
        </div>
        
        <table  id="tableAdmin" class="display tableKeyCar">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Status</th>
                    <th>Voiture</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for key_car in key_cars %}
                <tr>
                    <td>{{ key_car.id }}</td>
                    <td>{{ key_car.name }}</td>
                    <td>
                        {% if key_car.isTaken|number_format == 0 %}
                            <span class="available">Disponible</span>
                        {% else %}
                            <span class="not_available">Non disponible</span>
                        {% endif %}
                    </td>
                    {% set car = key_car.car %}
                    <td>
                    {{ car.name }}
                    </td>
                    <td>                        
                        <a href="{{ path('admin_key_car_edit', {'id': key_car.id}) }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        
    {{ include("admin/footer.html.twig") }} 
{% endblock %}
