{% extends 'base.html.twig' %}

{% block title %}KeyCar index{% endblock %}

{% block body %}
    {{ include("navigation/navAdmin.html.twig") }}
    {{ include("admin/header.html.twig") }} 
        <h1>KeyCar index</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for key_car in key_cars %}
                <tr>
                    <td>{{ key_car.id }}</td>
                    <td>{{ key_car.name }}</td>
                    <td>
                        <a href="{{ path('admin_key_car_show', {'id': key_car.id}) }}">show</a>
                        <a href="{{ path('admin_key_car_edit', {'id': key_car.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('admin_key_car_new') }}">Create new</a>
    {{ include("admin/footer.html.twig") }} 
{% endblock %}
