{% extends 'admin/base.html.twig' %}

{% block title %}New KeyCar{% endblock %}

{% block body %}
    {{ include("admin/header.html.twig") }}
    {{ include("navigation/navAdmin.html.twig") }}
    
        <h1>Create new KeyCar</h1>

        {{ include('admin/key_car/_form.html.twig') }}

        <a href="{{ path('admin_key_car_index') }}">Retour</a>
    {{ include("admin/footer.html.twig") }} 
{% endblock %}
