{% extends 'base.html.twig' %}

{% block title %}Modifier le profil{% endblock %}

{% block body %}
    <div class="masthead">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 offset-sm-1 text-center">
                    <div class="register-top">
                        <h1 class="uppercase">Modifier le profil</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 offset-sm-2 formContainerWhite" style="padding-bottom: 20px;">
                <div class="form-register">
                    {{ form_start(userForm) }}

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form_label(userForm.lastName, 'Nom *', {'label_attr': {'class': 'label_control'}}) }}
                                {{ form_widget(userForm.lastName, {'attr': {'class': 'form-control'}}) }}
                            </div>

                            <div class="form-group">
                                {{ form_label(userForm.email, 'Email *', {'label_attr': {'class': 'label_control'}}) }}
                                {{ form_widget(userForm.email, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form_label(userForm.firstName, 'Prénom *', {'label_attr': {'class': 'label_control'}}) }}
                                {{ form_widget(userForm.firstName, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(userForm.phone, 'Téléphone *', {'label_attr': {'class': 'label_control'}}) }}
                                {{ form_widget(userForm.phone, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                    <a class="btn btn-success" style="float: left;" href="{{ path('index') }}">Retour</a>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-secondary"
                            style="float: right;">{{ button_label|default('Valider') }}</button>
                </div>
            </div>
        </div>
    </div>
    {{ form_rest(userForm) }}
    {{ form_end(userForm,{'render_rest': false}) }}
{% endblock %}