{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <header class="masthead" id="dokiz">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center ">
                {#<img src="{{ asset('image/Blanc.png') }}" title="source: imgur.com" class="img-fluid" alt="" style="width:60%;">#}
                <div class="card">
                    <h5 class="card-header">Mon profil</h5>
                    <div class="card-body">
                        <h5 class="card-title">{{ user.firstName }} {{ user.lastName }}</h5>
                        <p class="card-text">{{ user.email }}</p>
                        <p class="card-text">Créé le {{ user.createdAt|date("d/m/Y") }}</p>
                        <a href="{{ path('edit_user', {'id': user.id}) }}" class="btn btn-primary">Modifier le profil</a>
                        <a href="{{ path('index') }}" class="btn btn-success">Retour</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
